body{
  display: flex;
  justify-content: center;
}
.calc {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: solid 1px black;
  margin: 5vh;
  align-items: center;
  padding: 3vh;
}

.display {
  display: flex;
  border: solid 1px black;
  width: 300px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  font-weight: bold;
  justify-content: right;
  margin: 5px;
}

.button-cont {
  display: flex;
  justify-content: center;
}

.button-numbers {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button-operators {
  display: flex;
  flex-direction: column;
}

.button,
.numbers,
.operator-button {
  font-size: 50px;
}

.bottom-row {
  display: flex;
  justify-content: space-around;
}