body{
  display: flex;
  justify-content: center;
}
.calc {
  display: flex;
  flex-direction: column;
  width: 30vw;
  border: solid 1px black;
  margin: 5vh;
  align-items: center;
  padding: 3vh;
}

.display {
  display: flex;
  border: solid 1px black;
  width: 20vw;
  font-size: 50px;
  justify-content: right;
}

.button-cont {
  display: flex;
  justify-content: center;
}

.button-numbers {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button-operators {
  display: flex;
  flex-direction: column;
}

.button,
.operator-button {
  font-size: 50px;
}